@page "/"
@using Match3.Web.Components.Game
@using Match3.Web.Services
@inject Match3GameService GameService
@rendermode InteractiveServer
@implements IDisposable 

<PageTitle>Match3 Game</PageTitle>

<div class="game-container">
    <div class="header">
        <ObjectivesPanel />
    </div>

    @if (GameService.VisualState != null)
    {
        <GridBoard />
        <GameControls />
    }
    else
    {
        <div class="loading">Loading Board...</div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        // Start game if not already started
        if (GameService.VisualState == null)
        {
            GameService.StartNewGame();
        }
        GameService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        GameService.OnChange -= StateHasChanged;
    }
}
